.pageContainer {
	display: flex;
	width: 100vw;
	height: calc(100vh - 120px);
	background-color: #001729;
}
  
  .container {
  display: flex;
	height: calc(100vh - 160px);
	width: calc(100vw - 40px);
	margin: 10px;
	padding: 10px;
	border-radius: 15px;
	background-color: #e7ecef;
	align-items: flex-start;
  }

  .formContainer{
    flex-direction: column;
    /*position: fixed;*/
  }
  
  .form-group {
    margin-bottom: 20px;
  }

  .pic-group {
    margin-bottom: 20px;
    display: inline;
    position: fixed;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 250px;
    margin-top: 25px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="password"],
  .form-group input[type="email"],
  .form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-left: 250px;
  }
  
  .form-group input[type="submit"] {
    background-color: #2A6F97;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 250px;
  }
  
  .form-group input[type="submit"]:hover {
    background-color: #014f86;
  }
  
  .hidden {
    display: none;
  }
  
  .profile-pic {
    max-width: 100px;
    max-height: 100px;
  }
  
  