<%- include('header') -%>
<%- include('navbar')-%>

<div class="about">
<div class="abouttitle">
  <h1 class="title_main"><b><u>ABOUT US</u></b></h1><br>

  <h3>
    Welcome to our hospital-tracking website! Our mission is to help users easily find hospitals and ambulances within a 100km radius of their location, ensuring that they can receive prompt medical attention in times of need.<br><br>

We understand that emergencies can be stressful and overwhelming, and finding the right medical facility or ambulance service can be a daunting task. That's why we created this website to provide a simple and convenient solution for users to access vital information at their fingertips.<br><br>

Our team is passionate about healthcare and technology, and we believe that our website can make a positive impact on people's lives. We are dedicated to continuously improving our services to ensure that our users receive the best possible experience.
  </h3>
  </div>
  <div class="ambulance">
    <img src="amm.jpg" width="450" height="350">
  </div>
  
</div>

  <br><br>
  <div class="about_main">
<div class="about_line">
  <h2 ><b>"Your guide to <span class="title">life-saving care</span> within reach - anytime, anywhere."</b></h2>
  <h4><i>&#40; ALL OVER THE COUNTRY &#41;</i></h4>
  </div>
  <div class="about_photo"><img src="india.jpg" width="350" height="350"></div>


</div>

<h1 class="title_main"><b><u>OUR VALUES</u></b></h1>

<div class="gallery">


  <div class="gallery1">
    
    <div class="desc">
      <h2><b>ACCESSIBILITY</b></h2>
      <p>We strive to make our website and services accessible to all users, regardless of
their location, language, or socioeconomic status. We offer multilingual support, and our
website is designed to be user-friendly and easy to navigate. We also provide information on
public transport routes and accessibility features at medical facilities, to help users plan their visits with ease.</p>
    </div>
  </div>
  
  <div class="gallery2">
    
    <div class="desc">
      <h2><b>COMPASSION</b></h2>
      <p>We understand that seeking medical help can be a stressful and emotional experience, which is why we are committed to providing a compassionate and empathetic service. Our team is trained to listen to our users' needs and concerns, and to offer support and guidance in a caring and non-judgmental manner</p>
      
    </div>
  </div>
  
  <div class="gallery3">
    <div class="desc">
      <h2><b>INNOVATION</b></h2>
      <p>We believe in using the latest technologies and best practices to improve our website and services, and to provide our users with the most convenient and reliable experience. We invest in research and development, and work with industry experts to ensure that our platform is always up-to-date and user-friendly.</p>
    </div>
  </div>
  <div class="gallery3">
    <div class="desc">
      <h2><b>TRANSPARENCY</b></h2>
      <p>We believe in being transparent and honest with our users about the information and services we provide. We clearly display our sources of information, and ensure that our users have access to accurate and reliable data. We also welcome feedback from our users, and are always looking for ways to improve our website and services based on their input.</p>
    </div>
  </div>
  <div class="gallery3">
    <div class="desc">
      <h2><b>RESPONSIBILITY</b></h2>
      <p>We take our role in the healthcare ecosystem seriously, and strive to be a responsible and ethical service provider. We are committed to maintaining the highest standards of professionalism and integrity, and to serving the best interests of our users and the community at large.</p>
    </div>
  </div>
  </div>

<%- include('footer') -%>