<div id="contact-box">
    <div id="contact-heading">Contact Us</div>
    <div id="contact-detail">
        <form action="/message" method="post">
             <input type="text" placeholder="FULL Name" name="name" required><br>
             <input type="email" placeholder="Email" name="email" required><br>
             <textarea placeholder="Message" name="msg" required></textarea><br>
             <button type="submit">Send Message</button>
        </form>
    </div>
    </div>