<%- include('header') -%>
<%- include('navbar') -%>
<div>
    <div class="heading" style="margin-top: 3%;"><span>Features</span> - User Interface</div>
    <div id="feature">
        <div class="feature-item">
            <div class="feature-img"><img src="ui2.webp"></div>
            <div class="feature-content" style="text-align: center;">Request an ambulance with a single click</div>
        </div>
        <div class="feature-item">
            <div class="feature-img"><img src="depositphotos_32590215-stock-photo-ambulance-car-isolated-on-white.jpg"></div>
            <div class="feature-content" style="text-align: center;">Real-time tracking of ambulance location and ETA</div>
        </div>
        <div class="feature-item">
            <div class="feature-img"><img src="ui3.jpg"></div>
            <div class="feature-content" style="text-align: center;">View the status of your ambulance request</div>
        </div>
    </div>
</div>

<%- include('footer') -%>