<div id="navbar">
        <div id="logoImg"><img src="/Care Connect (1)-modified.png"></div>
        <div class="logotitle"><h1>CareConnect</h1></div>
    <div id="navItem">
        <div class="item" onclick="location.href='/'">Home</div>
        <div class="item" onclick="location.href='/service'">Services</div>
        <div class="item" onclick="location.href='/features'">Features</div>
        <div class="item" onclick="location.href='/aboutUs'">About Us</div>
     
</div>
    <div id="navButton">
        <button type="submit" onclick="location.href='/book'">Book Now</button>
    </div>
</div>


<script>
    function showNav(){
        document.getElementById("barNav").style.display="block";
        document.getElementById("bar").setAttribute("onclick","hideNav()");
    }
    function hideNav(){
        document.getElementById("barNav").style.display="none";
        document.getElementById("bar").setAttribute("onclick","showNav()");
    }
</script>