<%- include('header') -%>
<%- include('navbar') -%>
<div class="service">
    <div class="servicetitle">
        <h1 class="service_main"><b><u>OUR SERVICES</u></b></h1><br>
  
        <h2><b>
            Welcome to our Service Page! Our platform offers a range of services to help you find the best medical care for your needs. Here's what you can expect:
</b>

        </h2>
        <ul>
            <li>Hospital Finder: Our hospital finder tool allows you to search for hospitals and medical facilities in your area, based on your location or zip code. You can filter hospitals based on the services you require, such as emergency care, cardiology, pediatrics, and more.</li>
            <li>Ambulance Tracker: Our ambulance tracker tool allows you to track the location of nearby ambulances and estimate the time it will take for them to arrive at your location. This helps you to get the medical attention you need in a timely manner.</li>
            <li>FAQs: Our platform provides a list of frequently asked questions about medical emergencies, hospital procedures, ambulance services, and more. This helps you to find answers to common questions and concerns.</li>
           <li>Reviews and Ratings: We encourage our users to leave reviews and ratings for hospitals and medical facilities they have used. This helps other users to make informed decisions and choose the best medical services. We also display reviews and ratings for hospitals on our platform, so you can see what other users have experienced.</li>
        </ul>
        </div>
        <div class="service">
          <img src="service.jpg" width="450" height="350">
        </div>

        
  </div>
  <h1 class="service_main">Thank You For Choosing Us</h1><br>


  <div class="sgallery">

    <div class="sgallery1">
      <div class="img1">
        <img src="1.jpg" alt="preventive" width="900" height="400">
      
      </div>
      <div class="sdesc">
        <h1><b>FIND HOSPITAL</b></h1>
      </div>
    </div>
    
    <div class="sgallery2">
      <div class="img2">
        <img src="2.jpg" alt="care" width="900" height="400">
      </a>
      </div>
      <div class="sdesc">
        <h1><b>SEARCH FOR BEST</b></h1>
        
      </div>
    </div>
    
    <div class="sgallery3">
      <div class="img3">
        <img src="4.jpg" alt=" repair" width="900" height="400">
      </a>
      </div>
      <div class="sdesc">
        <h1><b>TRACK AMBULANCE</b></h1>
      </div>
    </div>

    </div>


<%- include('footer') -%>