/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: white;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 0rem;
  display: flex;
  overflow: hidden;
}
/* Since positioning the image, we need to help out the caption */
/* .carousel-caption {
  bottom: 1rem;
  color:black;
  z-index: 10;
  align-content: center;
} */

.carousel-caption {
  bottom: 1rem;
  color:black;
  z-index: 10;
  align-content: center;
  background: rgba(255, 255, 255,0.25);
  padding-left: 3%;
  padding-right: 3%;
  width: fit-content;
}


/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item  img{
  position: absolute;
  object-fit:cover;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 572px;
  background:rgba(0,0,0,0.7);
}

/* .carousel {
  display: flex;
  overflow: hidden;
} */

.carousel-slide {
  flex: 0 0 100%;
}

.slide-img {
  width: 100%;
  height: auto;
}

.hstyle
{
  align-self: center;
  padding-top: 10%;

}

.pstyle
{
  align-self: center;
  font: 1 em san-serif;
  padding-left: 10%;
  padding-right: 10%;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
  padding: 0px;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
  padding: 0px;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

.trybutton{
   color:white;
}

.float-end img{
  width: 10%;
  margin-left: 85%;
  padding-top: 2%;
}
/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
    
    padding-left: 60%;
  }

  .lead{
    
    padding-left: 60%;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
