/* libdash.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
::selection{
  color: #000;
  background: #fff;
}
nav{
  position: fixed;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: #fff;
  color: black;
}
.img{
  background: url('background-img1.jpg') rgba(0, 0, 0, 0.171);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  position: relative;
  filter: blur(1px);
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu {
  margin-top: 0;
}

.center-button {
  margin-top: 10px;
  position: absolute;
  top: 60px;
  background-color: #f2f2f2;
  z-index: 1;
}

.center-button a {
  position:relative;
  display: inline-block;
  margin-top: 5px;
  margin: 5px;
  padding: 10px 20px;
  background-color: #f2f2f2;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
}

.result {
  margin-top: 20px;
  position:relative;
}

.request-table {
  position:relative;
  margin-top: 20px;
}

.request-table thead {
  position: sticky;
  top: 80px;
  background-color: #f2f2f2;
  z-index: 1;
}

.request-table th:nth-child(1),
.request-table td:nth-child(1),
.request-table th:nth-child(2),
.request-table td:nth-child(2),
.request-table th:nth-child(3),
.request-table td:nth-child(3) {
  position: sticky;
  top: 80px;
  background-color: #f2f2f2;
}
