<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190696383052-539dosa72qhc20pmj96b7ju2ds4ngjdm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190696383052-539dosa72qhc20pmj96b7ju2ds4ngjdm</string>
	<key>API_KEY</key>
	<string>AIzaSyCWvA19dPUQF6dGlePJZElrljkhnpasyhk</string>
	<key>GCM_SENDER_ID</key>
	<string>190696383052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medicineReminder</string>
	<key>PROJECT_ID</key>
	<string>meditime-login-4403c</string>
	<key>STORAGE_BUCKET</key>
	<string>meditime-login-4403c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190696383052:ios:2391d253ac3e97811bcae9</string>
</dict>
</plist>