.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.head1{
  font-size: 30px;
  font-family: 'Monospace';
}

 /* Position and sizing of burger button */
 .bm-burger-button {
  position: fixed;
  width: 20px;
  height: 10px;
  left: 20px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button
.bm-cross-button {
  height: 24px;
  width: 24px;
  position: relative;
 margin-left: 35vh;
}

/* Color/shape of close button cross 
.bm-cross {
  background: #bdc3c7;
} */

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #131416;
  padding-bottom: 20px;
  padding-right: 20px;
  font-size: 20px;
  border-radius: 10px;
  width: 35vh;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 7vh;
  top: 25px;
}

/* Individual item */
.bm-item {
  display: inline-block;
  text-decoration: none;
  color: beige;
  top: 20px;
  margin-top: 20px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}



.decora{
  text-decoration: none;
}


.imagebackground-app{
    background-image: url('appback.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
