.adddeptbutt{
    position: relative;
    margin-left: 150vh;
    top: 13vh;
    height: 5vh;
    width: 15vh;
    text-decoration: none;
    border-radius: 10px;
    font-size: small;
    transition: all 300ms ease-in-out;
    background-color: #f3a9a9;
    color: black;
}

.adddeptbutt:hover{
    background-color: aliceblue;
}



.addteach{
    position: relative;
    margin-left: 150vh;
    top: 3vh;
    height: 10vh;
    width: 20vh;
    text-decoration: none;

}

.updatebutt{
    transition: all 300ms ease-in-out;
    text-decoration: none;
    background-color: #78e38a;
    color: black;

}
.deletebutt{
    transition: all 300ms ease-in-out;
    text-decoration: none;
    background-color: #e37878;
    color: black;
}

.updatebutt:hover{
    background-color: aliceblue;
}

.deletebutt:hover{
  background-color: aliceblue;
}

.outline1{
    position: fixed;
    margin-top: 25vh;
    width: 300px;
    height:200px;
    background-size: cover;
    margin-left: 50vh;
    background-color: #f3a9a9;
    padding: 20px;
    opacity: 0.7;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
    font-family: 'Monospace';
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.outline1:hover{
    background-color: rgb(237, 90, 90);
  transform: scale(1.1);
}

.outline2{
    position: fixed;
    margin-top: 25vh;
    width: 300px;
    height:200px;
    background-size: cover;
    margin-left: 120vh;
    background-color: #f3a9a9;
    padding: 20px;
    opacity: 0.7;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
    font-family: 'Monospace';
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.outline2:hover{
    background-color: rgb(237, 90, 90);
    transform: scale(1.1);
}


.checkoutline{
    width: 25vh;
    height: 15vh;
    position: fixed;
    margin-left: 50%;
    margin-top: 40vh;
    background-color: gray;
    border-radius: 10px;
    border-color: black;
}


/* .phase-container {
    
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    margin-top: 20vh;
    width: 70vh;
    height: 60vh;
    margin-left: 35%;
    border-radius: 10px;
    border-color: #000000;
    background-color: rgb(221, 215, 215);
    display: flex;
    flex-direction: column;
  }
  
  .sem-opt-head {
    margin-top: 5vh;
    font-size: 20px;
    height: 10vh;
  }
  
  .sem-options {
    display: flex;
    background-color: rgb(159, 107, 107);
    border-radius: 25px;
    font-size: 15px;
  }
  
  .ind-option {
    flex: 1;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
  }
  
  .selected {
    background-color: #cd3c3c;
    color: #fff;
  }
  
  .phases {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
  }
  
  .phase {
    margin-top: 20px;
    font-size: 25px;
  }
  
  .phase h2 {
    margin-bottom: 10px;
  }
  
  .phase input {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000000;
    max-height: 50px;
    font-size: 15px;
  }
  
  .phase button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #3187e2;
    color: #fff;
    cursor: pointer;
    box-shadow: #000000;
    font-size: 15px;
  }
  
  .phase button:hover {
    background-color: #000000;
    color: white;
  }
  
  .submit-button {
    margin-top: 20px;
  }
  
  .submit-button button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #3187e2;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
  }
  
  .submit-button button:hover {
    background-color: #000000;
    color: white;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }


.view-btn{
    margin-top:20px;    
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #3184de;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}
.view-btn:hover{
    background-color: #000000;
    color: white;
} */


.sem-outline{
  width: 23vh;
  height: 17vh;
  position: relative;
  margin-left: 43%;
  align-items: center;
  padding-top: 2vh;
  display: flex;
  font-size: large;
  padding-left: 5vh;
  margin-top: 10vh;
  border-radius: 10px;
}

.updatebuttconfirm{
  margin-left: 46%;
  margin-top: 3vh;
  font-size: medium;
  border-radius: 7px;
  width: 10vh;
  height: 4vh;
  background-color: #78e38a;
  color: black;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.updatebuttconfirm:hover{
  background-color: aliceblue;
  color: black;
}

.suballocont1{
  position: fixed;
    margin-top: 7vh;
    width: 300px;
    height:200px;
    background-size: cover;
    margin-left: 50vh;
    background-color: #f3a9a9;
    padding: 20px;
    opacity: 0.7;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
    font-family: 'Monospace';
    font-size: 20px;
    font-weight: bold;
}

.suballocont2{
  position: fixed;
    margin-top: 7vh;
    width: 300px;
    height:200px;
    background-size: cover;
    margin-left: 120vh;
    background-color: #f3a9a9;
    padding: 20px;
    opacity: 0.7;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
    font-family: 'Monospace';
    font-size: 20px;
    cursor: pointer;
}


.updatebutt12{
  transition: all 300ms ease-in-out;
  text-decoration: none;
  background-color: #78e38a;
  color: black;
  border-radius: 3px;
  font-size: 15px;
  margin-left: 20%;
  margin-top: 2vh;
}
.deletebutt12{
  transition: all 300ms ease-in-out;
  text-decoration: none;
  background-color: #e37878;
  color: black;
  border-radius: 3px;
  font-size: 15px;
  margin-left: 10vh;
  margin-top: 2vh;
}

.updatebutt12:hover{
  background-color: aliceblue;
}

.deletebutt12:hover{
background-color: aliceblue;
}

.view-in-suballo{
    margin-left: 46%;
    margin-top: 40vh;
    font-size: medium;
    border-radius: 7px;
    width: 10vh;
    height: 4vh;
    background-color: #78e38a;
    color: black;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
   
  }

  .view-in-suballo:hover{
      background-color: aliceblue;
      color: black;
    }