.list {
    background-color: rgb(203, 223, 223);
    background-image: url('https://static.vecteezy.com/system/resources/previews/003/031/766/original/light-blue-wide-background-with-radial-blurred-gradient-abstract-free-vector.jpg');
    background-repeat: no-repeat;
    background-size:cover;
  }
