*{
  padding:0;
  margin :0;
  box-sizing: border-box;
}

.sc{
  font-size:1.5rem;
  font-weight:200;
  font-family:sans-serif;
  color: rgb(233, 233, 233);
  margin-left: 476px;
  
  
}

.c{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color:rgb(230, 230, 230);
  font-size:50px;
  
}


.kk {
  margin-top: 20px;
  border-radius: 4px;
  background-color: #000000;
  border: none;
  color: #f0eaea;
  text-align: center;
  font-size: 15px;
  padding: 8px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left: 565px;
}


.kk span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.kk span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.kk:hover span {
  padding-right: 25px;
}

.kk:hover span:after {
  opacity: 1;
  right: 0;
}


.img{
  background-color: rgb(71, 64, 64); 
  background-size:cover;
  height: 100vw;
  width: 100%;
  
}