<footer id="footer">
    <i class="social-icon fa-brands fa-facebook"></i>
    <i class="social-icon fa-brands fa-twitter"></i>
    <i class="social-icon fa-brands fa-instagram"></i>
    <i class="social-icon fa-solid fa-envelope"></i>
        <p>© Copyright Zenith</p>
    
      </footer>
      <script src="//code.tidio.co/an2yav56ptnhnpl1t1pikgrqfbakg3jo.js" async></script>
      <script src="./index.js"></script>
</body>    
</html>