.featured-product-container {
  background-color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
}
.featured-product-container > h1 {
  color: black;
}

.featured-product-container .featured-product-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.featured-product-grid > * {
  margin-left: 20px;
  flex: 1 1 1 1;
}

.featured-shimmering-text {
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
  background: linear-gradient(
    to right,
    black 0%,
    #ffd700 10%,
    black 20%,
    #ffd700 30%,
    black 40%,
    #ffd700 50%,
    black 60%,
    #ffd700 70%,
    black 80%,
    #ffd700 90%,
    black 100%
  );
  background-size: 200% 100%;
  animation: shimmer 3.5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shimmer 3.5s ease-in infinite;
}

@keyframes shimmer {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 100%;
  }
}

.featured-product-grid {
  background-color: white;
  color: gold;
  width: 100%;
  display: flex;
  flex-direction: row;
  transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
}
