.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #000000;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
.separate-product-image{
  width: 400px;
}

.separate-product-details{
  display: flex;
  flex-direction: row;
  gap:200px;
}

.separate-text-container{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding:0px 20px;
  justify-content:center;
}

.separate-rr-cont{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-family: '';
  color:black;
}

.separate-ratings:hover{
  color:blue;
  cursor: pointer;
}
.separate-reviews:hover{
  color:blue;
  cursor: pointer;
}

.separate-highlights{
  font-size:24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 16px;
  margin: 16px auto;
}

.result {
  text-align: center;
  margin-bottom: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.stars {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.star {
  position: relative;
  cursor: pointer;
}

.stars_radio-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}


.add-button-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-left: 5px;
  margin-right: 5px;
}