.category-container {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  background-color: #edf2f5;
  height: fit-content;
  overflow: hidden;
}
.individual-product-container {
  display: flex;
  margin-left: 30px;
  flex-direction: column;
  padding: 30px 0px;
  width: 30vw;
  align-items: center;
  border: 1px solid #bbbbbb;
  background-color: #edf2f5;
  transition: box-shadow 0.3s;
}
.individual-product-container:hover {
  box-shadow: 0 0 100px rgba(33, 33, 33, 0.2);
}
.individual-product-image {
  width: auto;
  height: 300px;
}
.individual-text-container {
  padding: 0px 10px;
  color: rgb(3, 3, 95);
  text-align: center;
  margin-left: 0;
}
.individual-price {
  font-size: 40px;
  font-weight: bolder;
}
.individual-rating {
  padding-bottom: 30px;
}
.img-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.primary-btn {
  border-radius: 10px;
  font-size: 16px;
  width: 150px;
  background-color: orangered;
  border: none;
  height: 60px;
  color: white;
  transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
}

.primary-btn:hover {
  background-color: rgb(3, 3, 95);
}

.cart-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-left: 5px;
  margin-right: 5px;
}

.clickable-div{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.individual-product-image-container{
  align-items: center;
}

.individual-product-image-container .individual-product-image{
  width:100%;
  padding:5%;
  transition: 350ms cubic-bezier(0.6, 0.03, 0.28, 0.98);
  transform: scale(1);
}

.individual-product-image-container .individual-product-image:hover{
  transform: scale(1.1);
  transition: 350ms cubic-bezier(0.6, 0.03, 0.28, 0.98);
}

/*
https://codepen.io/olac/pen/MvMxjw - zoom transition
*/