body {
    font-family: 'Quicksand', sans-serif;
    background-color: white;
  }
  
  h2 {
    text-align: center;
  }
  
  table {
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .box {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 50%;
    text-align: center;
  }