/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {
    .card {
        font-size: 100% !important;
        line-height: 160% !important;
        padding: 20px !important;
        margin: 20px 0 !important;
    }
}

/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,900;1,400&display=swap");
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
*, *:before, *:after
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


html, body
{
    width: 100% !important;
    height: 100% !important;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background:#121212;
    color: #7e7e7e;
    overflow: hidden;
}


:host {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


.spacer {
    flex: 1;
}

.btn {
    background-color:#ef6c00;
    width: 40%;
    color: white;
    font-weight: 600;
    height: 80px;
    width: 100%;
    border: 1px solid #000;
    box-shadow: 2px rgba(0,0,0,1);
    border-radius: 8px;

    :is(svg) {
        fill: white;
    }

    :is(span) {
        font-size: 140%;
    }
}

.stop_button{
    background-color:#ef6c00;
    width: 40%;
    color: white;
    font-weight: 600;
    font-size: 23px;
    height: 80px;
    width: 100%;
    border: 1px solid #000;
    box-shadow: 2px rgba(0,0,0,1);
    border-radius: 8px;
}

.btn:disabled {
    background-color: #c75d06;
    color: #df6502;
    cursor: not-allowed;
    
    :is(svg) {
        fill: #df6502 !important;  
    }
}

.btn:hover {
    text-decoration: none;
    background-color: #c75d06;
    color: #fff;
    :is(svg) {
        fill: #fff !important;  
    }
}
.stop_button:disabled {
    background-color: #c75d06;
    color: #df6502;
    cursor: not-allowed;
    
    :is(svg) {
        fill: #df6502 !important;  
    }
}
//*
.stop_button:hover {
    text-decoration: none;
    background-color: #c75d06;
    color: #fff;
    :is(svg) {
        fill: #fff !important;  
    }
}

.card {
    border: 1px solid #000;
    box-shadow: 4px rgba(0,0,0,1);
    color: #fff;
    padding: 40px;
    font-size: 150%;
    line-height: 220%;
    border-radius: 19px;
    background: #2c2c2c;
    justify-content: center;
    align-items: center;
    margin: 0 0 40px 0;
    

    :is(h3) {
        margin: 0;
    }

    .card-inner {
        max-width: 1200px;
    }
}

.endsession {
    position: absolute;
    height: 100%;
    display: block;
    width: 410px;

    .btn {
        position: absolute;
        bottom: 300px;
        z-index: 1;
    }
}