<!doctype html>
<html lang="en">
<head>
  <title>AllerGone-Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="static\css\login.css">
<link rel="icon" type="image/ico" href="static/favicon.ico">
</head>
<body>
	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
			          	<input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
			          	<label for="reg-log"></label>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
								<div class="card-front">
									<div class="center-wrap">
										<div class="section text-center">
											<form id="login" method="POST">
												<h4 class="mb-4 pb-3">Log In</h4>
												<div class="form-group">
													<input type="email" class="form-style" placeholder="Email" name="email">
													<i class="input-icon uil uil-at"></i>
												</div>	
												<div class="form-group mt-2">
													<input type="password" class="form-style" placeholder="Password" name="password">
													<i class="input-icon uil uil-lock-alt"></i>
												</div>
												<!-- <a href="{{ url_for('index') }}" class="btn mt-4">Login</a> -->
												<input type="submit" class="btn mt-4" value="Login">
						<!--<p class="mb-0 mt-4 text-center"><a href="https://www.web-leb.com/code" class="link">Forgot your password?</a></p>-->
											</form>
				      					</div>
									
			      					</div>
			      				</div>
								<div class="card-back">
									<div class="center-wrap">
										<div class="section text-center">
											<form id="signup" method="POST">
											<h4 class="mb-3 pb-3">Sign Up</h4>
											<div class="form-group">
												<input type="text" class="form-style" placeholder="User Name" name="name">
												<i class="input-icon uil uil-user"></i>
											</div>	
											<!-- <div class="form-group mt-2">
												<input type="tel" class="form-style" placeholder="Phone Number">
												<i class="input-icon uil uil-phone"></i>
											</div>	 -->
                      						<div class="form-group mt-2">
												<input type="email" class="form-style" placeholder="Email" name="email">
												<i class="input-icon uil uil-at"></i>
											</div>
											<div class="form-group mt-2">
												<input type="password" class="form-style" placeholder="Password" name="password">
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
											<!-- <a href="https://www.web-leb.com/code" class="btn mt-4">Register</a> -->
											<input type="submit" class="btn mt-4" value="Register">
										</form>
				      					</div>
			      					</div>
			      				</div>
			      			</div>
			      		</div>
			      	</div>
		      	</div>
	      	</div>
	    </div>
	</div>
</body>
</html>
