<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Recipe Recommendation</title>
  <link href="static/css/ratehomepg.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="container">
    <div class="card">
      <h1 class="title">Recipe Recommendation</h1>
      <h4 class="subtitle">If you are a first-time user, start with Rate Recipes! <br>Rating Helps us Understand your prefereneces better , More you rate better the Output</h4>
      <div class="button-container">
        <a href="/raterecipes" class="button">Rate Recipes</a>
        <a href="/recommendrecipes" class="button">Recommend Recipes</a>
      </div>
    </div>
  </div>
</body>
</html>
