/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url('pngtree-light-green-branches-and-leaves-watermark-floral-plant-background-picture-image_1445958.png'); /* Replace with your background image */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  color: #333;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #bdd248;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #a2bb36;
}

button:focus {
  outline: none;
}

/* Optional: You can customize other elements as needed */
