<div class="main-footer">
   <div class="container">
     <div class="row">
       
       <div class="col">
         <h4 class='footheading'>&emsp;HEAD OFFICE</h4>
         <ul class="list-unstyled">
           <li>Kh no.253,First Floor</li>
           <li>Kakkanad, Kochi</li>
           <li>Kerala, 640896</li>
         </ul>
       </div>
       
       <div class="col">
         <h4 class='footheading'>&emsp;COLLABORATORS</h4>
         <ul class="list-unstyled">
           <li>Sahil Titto</li>
           <li>Shaun Tojan</li>
           <li>Roy Rajesh</li>
           <li>Rony Mons</li>
         </ul>
       </div>
       
       <div class="col">
         <h4 class='footheading'>&emsp;CONTACT</h4>
         <ul class="list-unstyled">
           <li>careconnect24@gmail.com</li>
           <li>9878560932/</li>
           <li>65745232</li>
         </ul>
       </div>
      
       
     </div>
     <hr />
     <div class="row">
       <p class="col-sm">
         &copy;2023 CareConnect&emsp;|&emsp;All rights reserved&emsp;|&emsp;Terms Of Service&emsp;|&emsp;Privacy
       </p>
     </div>
   </div>
 </div>
</body>
</html>