blinker
click
colorama
dnspython
Flask
Flask-PyMongo
Flask-SQLAlchemy
Flask-WTF
gensim
greenlet
gunicorn
itsdangerous
Jinja2
joblib
MarkupSafe
nltk
numpy
packaging
pandas
pymongo
python-dateutil
pytz
regex
scikit-learn
scipy
six
smart-open
SQLAlchemy
threadpoolctl
tqdm
typing_extensions
tzdata
Werkzeug
WTForms
